* {
  box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.gridma3 {
  background: #ddd;
}

/* clear fix */
.gridma3:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer3,
.grid-item3 {
  /*width: 33.333%;*/
  width: 25%;
}

.grid-item3 {
  float: left;
}

.grid-item3--height3.item-opened {
  width: 30% !important;
  left: 35% !important;
}

.grid-item3 img {
  display: block;
  width: 100%;
}

/*estilos añadidos*/
.grid-item3:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%) blur(0);
}

.grid-alpha3 {
  display: none;
  position: fixed;
  background-color: #f4f3f4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*text-align: center;*/
}

.grid-alpha3:hover {
  cursor: zoom-out;
}

.grid-item3.item-opened {
  /*width: fit-content;*/
  /*height: fit-content;*/
  width: 50%;
  /*height: ;*/
  /*border: 3px solid #e8e8e8;*/
}

.grid-item3.item-opened:hover {
  /*width: fit-content;*/
  /*height: fit-content;*/
  transform: scale(1.2);
  cursor: zoom-in;
  /*height: ;*/
  /*border: 3px solid #e8e8e8;*/
}
