/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/06/2019, 10:32:05 PM
    Author     : wilme
*/

.video-responsive {
position: relative;
/*padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
min-height: 100%;
min-width: 100%;
overflow: hidden;
}
